*{
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}


.nav-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  
}
.logo-img{
  width: 86.041px;
  height: 40px;
  
}
.logo-txt{
font-size: 45px;
font-weight: 700;
}
.logo-txt span{
  color:rgb(255, 66, 165);
}

.left-navigation{
  display: flex;
  align-items: center;
  gap:20px;
  padding-left: max;
  
}

.right-navigation{
  display: flex;
  gap: 32px;
  align-items: center;
}
.social-media-link{
  display: flex;
  gap: 24px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  padding: 17px 24px;
  margin-bottom: 37px;
  margin-top: 37px;
  
  
}
.nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  gap:16px
}
.nav-container p{
color: #3C354F;
font-size: 18px;
font-weight: 500;

}
.header-bottom{
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;

}
.left-side{
  padding-top: 148px;}
  
 
.play-like{
color: #0B0223;
font-size: 48px;
font-weight: 600;

}
.primary-title{
font-size: 95px; 
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.left-side ul>li{
color: #534C64;
font-size: 20px;
font-weight: 500;
padding-top:17px ;
}
.left-side ul{
  list-style: none;
  
}
.common-btn,.go-rouge{
  margin-top:40px ;
  padding:21px 40px;
  border-radius: 48px;
  border: none;
  font-size: 20px;
  color: #FFF;
 font-size: 20px;
font-weight: 600;
}
.common-btn{
  background-color:rgb(255, 66, 165);
}
.go-rouge{
  background-color:rgb(78, 197, 247) ;
  margin-left:24px;
}

.head-img{
  width: 100%;
}
.gamer-section{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
  padding-right: 200px;
  padding-left: 200px;

}
.gamer-content{
  text-align: end;
  max-width: 520px;
  

}
.gamer-img{
  width:100% ;
  padding-top: 55px;
  
}
.gamer-content{
  margin-top: 95px;
  
}
.gamer-title {
  font-size: 48px;
  padding-bottom: 24px;
}
.common-font-style{
color: #534C64;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
}


.gamer{
 margin-top: 32px;
 margin-bottom: 24px;
}
.our-purpose{
color: #534C64;
font-size: 24px;
font-weight: 500;
line-height: 45px;
}
.gamer-content q{
color: #534C64;
font-size: 32px;
font-weight: 700;
line-height: 45px;

}
