*{
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* nav bar starts here */
.nav-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  
}
.logo-txt{
font-size: 2.8rem;
font-weight: 700;
}
.logo-txt span{
  color:rgb(255, 66, 165);
}

.gamer-logo{
  display: flex;
  align-items: center;
  gap:20px;
  padding-left: max;
  
}

.navigation{
  display: flex;
  gap: 32px;
  align-items: center;
}
.social-media-link{
  display: flex;
  gap: 24px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  padding: 17px 24px;
  margin-bottom: 37px;
  margin-top: 37px;
  
  
}
.nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  gap:16px
}
.nav-container p{
color: #3C354F;
font-size: 1.125rem;
font-weight: 500;

}
/* nav bar finish here */
.header-container{
  display: flex;
  justify-content: space-around;
  
  padding-left: 180px;
  gap: 50px;
 

}
.header-contents{
  padding-top: 148px;}
  
 
.play-like{
color: #0B0223;
font-size: 3rem;
font-weight: 600;
width: 348px;

}
.primary-title{
font-size: 5.9rem; 
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.header-contents ul>li{
color: #534C64;
font-size: 1.25rem;
font-weight: 500;
padding-top:17px ;
}
.header-contents ul{
list-style: none;
text-align:left;
}
.header-img{
  width: 90%;
}


.common-btn,.go-rouge{
  margin-top:40px ;
  padding:20px 40px;
  border-radius: 48px;
  border: none;
  
  color: #FFF;
 font-size:1.25rem ;
font-weight: 600;
}
.common-btn{
  background-color:rgb(255, 66, 165);
}
.go-rouge{
  background-color:rgb(78, 197, 247);
  margin-left:15px ;
}
/* header section ends here */

/* main section starts here */

.gamer-section{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
  padding-right: 200px;
  padding-left: 200px;
  margin-bottom: 120px;

}
.gamer-content{
  text-align: end;
  max-width: 520px;
  

}
.gamer-img{
  width:100% ;
  padding-top: 55px;
  
}
.gamer-content{
  margin-top: 95px;
  padding-bottom: 96px;
  
}
.gamer-title {
  font-size: 3rem;
  padding-bottom: 24px;
}
.common-font-style{
color: #534C64;
font-size: 1.125rem;
font-weight: 400;
line-height: 30px; 
}


.gamer{
 margin-top: 32px;
 margin-bottom: 24px;
}
.our-purpose{
color: #534C64;
font-size: 1.5rem;
font-weight: 500;
line-height: 45px;
}
.gamer-content q{
color: #534C64;
font-size: 2rem;
font-weight: 700;
line-height: 45px;
margin-bottom: 96px;

}
.online-content{
  text-align: center;
}
.collections{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
}
.content img:hover{
border: 4px solid rgb(255, 89, 176);
border-radius: 16px;

filter: brightness(0.4);
}
.online-games-sec{
  padding-left: 200px;
  padding-right:200px ;
}
.content img{
  width: 100%;
}
content p{
color: #534C64;

font-size: 1.25rem;

font-weight: 500;
line-height: 30px;
}
.online-content h1{
color: #0B0223;
font-size: 3rem;
padding-bottom: 16px;
}
.funny{
font-size: 3rem;
font-style: normal;
font-weight: 700;
}
.paragraph{

padding-bottom: 48px;

}
.content p{
color: #534C64;
font-size: 1rem;
font-weight: 500;
padding-top: 24px;
padding-bottom: 120px;

}
.play-instantly{
  
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px; 
    justify-content: space-around;
    text-align: right;
    gap: 200px;
    margin-bottom:-220px ;
}
.images{
  display: flex;
  flex-direction: column;
}
.img-container-2{
  width: 315px;
  height: 365px;
  transform: translateY(-280px);
  margin-left: -140px;
  margin-bottom: 0px;
  
  
}

.play-instantly p{
  width:353px ;
}
.play-instantly h1{
text-align: right;

font-size: 3rem;

font-weight: 700;
margin-bottom:12px ;

}

.common-font-style-description{
  transform: translateY(-180px);
}
.instantly{
  font-size: 3rem;

font-weight: 700;
} 

/* Games Genre Sections starts here */
 .games-genre{
  display: flex;
  flex-wrap: wrap;
  padding-left: 200px;
  padding-right: 200px;
  justify-content: center;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
  padding-top:120px;
  padding-bottom: 120px;
  gap:15px ;
  
 }
 .games-genre button{
  display: flex;
  
 
  align-items: center;
  border-radius: 50px;
  background: #FFF;
  border: none;
  padding:10px 20px 10px 10px;
  margin-bottom: 27px;
  color: #0B0223;
  font-size: 1.25rem;
  font-weight: 600;
 }

 .genre:hover{

  border: 1.5px solid #FF42A5;
  color:#FF42A5 ;
}
/* ----Games genre section ends here------ */

/* ----Footer section starts here------ */
 
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0B0223;
}
.gamer-footer{
  padding-top:120px ;
  padding-bottom: 66px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer-title{
color: #FFF;
font-size: 2.8rem;
font-weight: 700;
}
.g-letter{
  background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.txt-footer{
  color: #FFF; 
}

.about-us{
color: #FFF;
text-align: center;
font-size: 1.125rem;
font-weight: 600;
display: flex;
list-style: none;
gap: 60px;


}
.icon{
  display: flex;
  list-style: none;
  gap: 40px;
  padding-top: 66px;
}
.policy{
color: rgba(255, 255, 255, 0.60);
font-size: 1rem;
font-weight: 500;
display: flex;
list-style: none;
gap: 60px;
padding-bottom: 28px;
padding-top: 74px;


}
.copyright{
  color: rgba(255, 255, 255, 0.60);
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 130px;
 

}
